.ourService {
  display: flex;
  flex-direction: column;
  gap: 1em;
  &__header  {
    h2 {
      text-align: center;
      font-family: "Next Sphere";
      font-weight: 900;
      font-style: normal;
      font-size: 5em;
      padding: 1em 0;
      line-height: 1;
      background: linear-gradient(32deg, rgb(251, 95, 166) 46%, #0078d4 64%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }
    &::before{
      content:"",
    }
    &::after{
      content: "";
    }
  }
  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    > li {
      position: relative;
      display: flex;
      flex-direction: column;
      .ourServiceCard__topHeading {
        width: 100%;
        h3{
            width: 100%;
            border-bottom: 2px solid rgba(128, 128, 128, 0.508);
             
        }
      }
      &:nth-last-of-type(1) {
        width: calc(33.3% - 1em);
        flex-direction: column-reverse;
      }
      &:nth-last-of-type(2) {
        width: calc(33.3% - 1em);
        flex-direction: column-reverse;
      }
      &:nth-last-of-type(3) {
        width: calc(33.3% - 1em);
        flex-direction: column-reverse;
      }
      &:nth-last-of-type(4) {
        width: calc(33.33% - 1em);
        flex-direction: column;
      }
      &:nth-last-of-type(5) {
        width: calc(66.66% - 1em);
        flex-direction: column;
      }
    }
    &__topHeading {
      position: relative;
    }
    .ourServiceCard {
      height: 100%;
      border-radius: 1em;
      padding: 3em 1em;
      &__content {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        &__icon {
          display: flex;
          width: 3em;
          height: 3em;
          padding: 0.5em;
          box-sizing: content-box;
          background: white;
          border-radius: 100%;
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            border-radius: 1em;
          }
        }
        &__heading {
          font-size: 1em;
        }
        &__desc {
          font-size: 0.8em;
        }
      }
    }
  }
}
.OurWork__header ,.OurClients__header ,.Testimonial__header{
    h2 {
      text-align: center;
      font-family: "Next Sphere";
      font-weight: 900;
      font-style: normal;
      font-size: 5em;
      padding: 1em 0;
      line-height: 1;
      background: linear-gradient(32deg, rgb(251, 95, 166) 46%, #0078d4 64%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }
  }
.OurClients{
    display: flex;
    flex-direction: column;
    gap: 1em;
    &__header{}
    &__lists{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: space-around;
        width: 100%;
        gap: 3em;
        row-gap: 1em;
        &__card{
            width: calc(33.33% - 3em);
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
.OurWork{
    display: flex;
    flex-direction: column;
    gap: 1em;
    &__header{}
    &__lists{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: space-around;
        width: 100%;
        gap: 1em;
        row-gap: 1em;
        &__card{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            border-radius: 1em;
            overflow: hidden;
            &:nth-last-of-type(1) {
                width: calc(33.33% - 1em);
                height:4em;
            }
            &:nth-last-of-type(2) {
                width: calc(33.33% - 1em);
                height:4em;
            }
            &:nth-last-of-type(3) {
                width: calc(33.33% - 1em);
                height:4em;
            }
            &:nth-last-of-type(4) {
                width: calc(33.33% - 1em);
                height:4em;
            }
            &:nth-last-of-type(5) {
                width: calc(33.33% - 1em);
                height: 5em;
            }
            &:nth-last-of-type(6) {
                width: calc(33.33% - 1em);
                height: 5em;
            }
            &:nth-last-of-type(7) {
                width: calc(33.33% - 1em);
                height: 5em;
            }
            &:nth-last-of-type(8) {
                width: calc(33.33% - 1em);
                height: 5em;
            }
            &:nth-last-of-type(9) {
                width: calc(33.33% - 1em);
                height: 5em;
            }
            &:nth-last-of-type(10) {
                width: calc(33.33% - 1em);
                height: 5em;
            }
            &:nth-last-of-type(11) {
                width: calc(33.33% - 1em);
                height: 9em;
            }
            &:nth-last-of-type(12) {
                width: calc(33.33% - 1em);
                height: 9em;
            }
            &:nth-last-of-type(13) {
                width: calc(33.33% - 1em);
                height: 9em;
            }
            &:nth-last-of-type(14) {
                width: calc(33.33% - 1em);
                height: 9em;
            }
            &:nth-last-of-type(15) {
               width: calc(33.33% - 1em); 
               height: 9em;
            }
            &:nth-last-of-type(16) {
                width: calc(33.33% - 1em);
                height: 9em;
            }
            height:4em;
            &:nth-last-of-type(17) {
                width: calc(33.33% - 1em);
                height: 4em;
            }
            &:nth-last-of-type(18) {
                width: calc(33.33% - 1em);
                height: 4em;
            }
            &:nth-last-of-type(19) {
                width: calc(33.33% - 1em);
                height: 4em;
            }
            &:nth-last-of-type(20) {
                width: calc(33.33% - 1em);
                height: 4em;
            }
            
        }
    }
}

.Testimonial{
  display: flex;
  flex-direction: column;
  gap: 1em;

  &__header{}
  &__sideBar{
    .TestimonialCardWrapper{
      .testimonialCard{
        background-color: #1e1e1e;
        border-radius: 1em;
        padding: 1em;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        i{
          display: flex;
          width: 3em;
          height: 3em;
          img{
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        p{
          font-size: 0.8em;
        }
        a{
          font-size: 0.9em;
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  
}
@media screen and (max-width: 1024px) {
  .ourService {
    display: flex;
    flex-direction: column;
    gap: 1em;
    &__header  {
      h2 {
        text-align: center;
        font-family: "Next Sphere";
        font-weight: 900;
        font-style: normal;
        font-size: 4.4em; //change
        padding: 0.5em 0; // change
        line-height: 1;
        background: linear-gradient(32deg, rgb(251, 95, 166) 46%, #0078d4 64%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
      &::before{
        content:"",
      }
      &::after{
        content: "";
      }
    }
    &__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1em;
      > li {
        position: relative;
        display: flex;
        flex-direction: column;
        .ourServiceCard__topHeading {
          width: 100%;
          h3{
              width: 100%;
              border-bottom: 2px solid rgba(128, 128, 128, 0.508);
               
          }
        }
        &:nth-last-of-type(1) {
          width: calc(33.3% - 1em);
          flex-direction: column-reverse;
        }
        &:nth-last-of-type(2) {
          width: calc(33.3% - 1em);
          flex-direction: column-reverse;
        }
        &:nth-last-of-type(3) {
          width: calc(33.3% - 1em);
          flex-direction: column-reverse;
        }
        &:nth-last-of-type(4) {
          width: calc(33.33% - 1em);
          flex-direction: column;
        }
        &:nth-last-of-type(5) {
          width: calc(66.66% - 1em);
          flex-direction: column;
        }
      }
      &__topHeading {
        position: relative;
      }
      .ourServiceCard {
        height: 100%;
        border-radius: 1em;
        padding: 2em 1em;
        &__content {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          &__icon {
            display: flex;
            width: 3em;
            height: 3em;
            padding: 0.5em;
            box-sizing: content-box;
            background: white;
            border-radius: 100%;
            img {
              object-fit: contain;
              width: 100%;
              height: 100%;
              border-radius: 1em;
            }
          }
          &__heading {
            font-size: 1em;
          }
          &__desc {
            font-size: 0.8em;
          }
        }
      }
    }
  }
  .OurWork{
    display: flex;
    flex-direction: column;
    gap: 1em;
    &__header{}
    &__lists{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: space-around;
        width: 100%;
        gap: 1em;
        row-gap: 1em;
        &__card{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            border-radius: 1em;
            overflow: hidden;
            &:nth-last-of-type(1) {
                width: calc(33.33% - 1em);
                height:4em;
            }
            &:nth-last-of-type(2) {
                width: calc(33.33% - 1em);
                height:4em;
            }
            &:nth-last-of-type(3) {
                width: calc(33.33% - 1em);
                height:4em;
            }
            &:nth-last-of-type(4) {
                width: calc(33.33% - 1em);
                height:4em;
            }
            &:nth-last-of-type(5) {
                width: calc(33.33% - 1em);
                height: 5em;
            }
            &:nth-last-of-type(6) {
                width: calc(33.33% - 1em);
                height: 5em;
            }
            &:nth-last-of-type(7) {
                width: calc(33.33% - 1em);
                height: 5em;
            }
            &:nth-last-of-type(8) {
                width: calc(33.33% - 1em);
                height: 5em;
            }
            &:nth-last-of-type(9) {
                width: calc(33.33% - 1em);
                height: 5em;
            }
            &:nth-last-of-type(10) {
                width: calc(33.33% - 1em);
                height: 5em;
            }
            &:nth-last-of-type(11) {
                width: calc(33.33% - 1em);
                height: 9em;
            }
            &:nth-last-of-type(12) {
                width: calc(33.33% - 1em);
                height: 9em;
            }
            &:nth-last-of-type(13) {
                width: calc(33.33% - 1em);
                height: 9em;
            }
            &:nth-last-of-type(14) {
                width: calc(33.33% - 1em);
                height: 9em;
            }
            &:nth-last-of-type(15) {
               width: calc(33.33% - 1em); 
               height: 9em;
            }
            &:nth-last-of-type(16) {
                width: calc(33.33% - 1em);
                height: 9em;
            }
            height:4em;
            &:nth-last-of-type(17) {
                width: calc(33.33% - 1em);
                height: 4em;
            }
            &:nth-last-of-type(18) {
                width: calc(33.33% - 1em);
                height: 4em;
            }
            &:nth-last-of-type(19) {
                width: calc(33.33% - 1em);
                height: 4em;
            }
            &:nth-last-of-type(20) {
                width: calc(33.33% - 1em);
                height: 4em;
            }
            
        }
    }
}
.OurWork__header ,.OurClients__header ,.Testimonial__header{
  h2 {
    text-align: center;
    font-family: "Next Sphere";
    font-weight: 900;
    font-style: normal;
    font-size: 4.4em; // change
    padding: 0.5em 0; // change
    line-height: 1;
    background: linear-gradient(32deg, rgb(251, 95, 166) 46%, #0078d4 64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
}
@media screen and (max-width: 968px) {
  
}
@media screen and (max-width: 780px) {
  .ourService {
    display: flex;
    flex-direction: column;
    gap: 1em;
    &__header  {
      h2 {
        text-align: center;
        font-family: "Next Sphere";
        font-weight: 900;
        font-style: normal;
        font-size: 3.4em; //change
        padding: 0.5em 0; // change
        line-height: 1;
        background: linear-gradient(32deg, rgb(251, 95, 166) 46%, #0078d4 64%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
      &::before{
        content:"",
      }
      &::after{
        content: "";
      }
    }
    &__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1em;
      > li {
        position: relative;
        display: flex;
        flex-direction: column;
        .ourServiceCard__topHeading {
          width: 100%;
          h3{
              width: 100%;
              border-bottom: 2px solid rgba(128, 128, 128, 0.508);
               
          }
        }
        width:100% !important; // change
      }
      &__topHeading {
        position: relative;
      }
      .ourServiceCard {
        height: 100%;
        border-radius: 1em;
        padding: 2em 1em;
        &__content {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          &__icon {
            display: flex;
            width: 3em;
            height: 3em;
            padding: 0.5em;
            box-sizing: content-box;
            background: white;
            border-radius: 100%;
            img {
              object-fit: contain;
              width: 100%;
              height: 100%;
              border-radius: 1em;
            }
          }
          &__heading {
            font-size: 1em;
          }
          &__desc {
            font-size: 0.8em;
          }
        }
      }
    }
  }
  
.OurWork__header ,.OurClients__header ,.Testimonial__header{
  h2 {
    text-align: center;
    font-family: "Next Sphere";
    font-weight: 900;
    font-style: normal;
    font-size: 2.4em; // change
    padding: 0.5em 0; // change
    line-height: 1;
    background: linear-gradient(32deg, rgb(251, 95, 166) 46%, #0078d4 64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
.OurClients{
  display: flex;
  flex-direction: column;
  gap: 1em;
  &__header{}
  &__lists{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      justify-content: space-around;
      width: 100%;
      gap: 2em;
      row-gap: 1em;
      &__card{
          width: calc(50% - 2em);
          img{
              width: 100%;
              height: 100%;
              object-fit: contain;
          }
      }
  }
}
.OurWork{
  display: flex;
  flex-direction: column;
  gap: 1em;
  &__header{}
  &__lists{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      justify-content: space-around;
      width: 100%;
      gap: 1em;
      row-gap: 1em;
      &__card{
          img{
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
          border-radius: 1em;
          overflow: hidden;
          width: calc(33.33% - 1em) !important;
          height:4em !important;
      }
  }
}
}
@media screen and (max-width: 480px) {
  
  .ourService {
    display: flex;
    flex-direction: column;
    gap: 1em;
    &__header  {
      h2 {
        text-align: center;
        font-family: "Next Sphere";
        font-weight: 900;
        font-style: normal;
        font-size: 2em; //change
        padding: 0.5em 0; // change
        line-height: 1;
        background: linear-gradient(32deg, rgb(251, 95, 166) 46%, #0078d4 64%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
      &::before{
        content:"",
      }
      &::after{
        content: "";
      }
    }
    &__cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1em;
      > li {
        position: relative;
        display: flex;
        flex-direction: column;
        .ourServiceCard__topHeading {
          width: 100%;
          h3{
              width: 100%;
              border-bottom: 2px solid rgba(128, 128, 128, 0.508);
               
          }
        }
        width:100% !important; // change
      }
      &__topHeading {
        position: relative;
      }
      .ourServiceCard {
        height: 100%;
        border-radius: 1em;
        padding: 2em 1em;
        &__content {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          &__icon {
            display: flex;
            width: 3em;
            height: 3em;
            padding: 0.5em;
            box-sizing: content-box;
            background: white;
            border-radius: 100%;
            img {
              object-fit: contain;
              width: 100%;
              height: 100%;
              border-radius: 1em;
            }
          }
          &__heading {
            font-size: 1em;
          }
          &__desc {
            font-size: 0.8em;
          }
        }
      }
    }
  }
  
.OurWork__header ,.OurClients__header ,.Testimonial__header{
  h2 {
    text-align: center;
    font-family: "Next Sphere";
    font-weight: 900;
    font-style: normal;
    font-size: 2em; // change
    padding: 0.5em 0; // change
    line-height: 1;
    background: linear-gradient(32deg, rgb(251, 95, 166) 46%, #0078d4 64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
.OurClients{
  display: flex;
  flex-direction: column;
  gap: 1em;
  &__header{}
  &__lists{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      justify-content: space-around;
      width: 100%;
      gap: 1em;
      row-gap: 2em;
      &__card{
          width: 80%;
          img{
              width: 100%;
              height: 100%;
              object-fit: contain;
          }
      }
  }
}
.OurWork{
  display: flex;
  flex-direction: column;
  gap: 1em;
  &__header{}
  &__lists{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      justify-content: space-around;
      width: 100%;
      gap: 1em;
      row-gap: 1em;
      &__card{
          img{
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
          border-radius: 1em;
          overflow: hidden;
          width: calc(33.33% - 1em) !important;
          height:4em !important;
      }
  }
}
  
}
@media screen and (max-width: 320px) {
  
}
@media screen and (max-width: 280px) {
  
}