.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1em ;
    // border-bottom: 1px solid #e5e5e51f;
    padding: 2% 5%;
    // max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    &__logo{
        font-family: "Next Sphere";
        font-weight: 700;
        font-style: normal;
        font-size: 1.5em;
        line-height: 1;
        background: linear-gradient(32deg, rgb(251, 95, 166) 0%, #0078d4 115%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }
    &__hamburger{
        font-size: 2em;
        color: white;
    }
}